@page "/forumcreation/{ForumParentID:int}"

@using QuorumDB.Models
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject Quorum.Data.ApplicationDbContext _context
@inject QuorumDB.IForumData _fdata;
@inject QuorumDB.IUserData _udata
@inject NavigationManager _nav;

<h3>Forum Creation Page</h3>
<AuthorizeView>
    <Authorized Context="Auth">
        <div class="forum-form">
            <EditForm Model=@forumView OnValidSubmit=@HandleValidSubmit>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="ForumTitle">Forum Title:</label>
                    <InputText id="ForumTitle" class="form-control" @bind-Value="forumView.Title" />
                </div>

                <div class="form-group">
                    <label for="Description">Description:</label>
                    <InputTextArea id="Description" class="form-control" @bind-Value="forumView.Description" />
                </div>

                <div class="form-group">
                    <label for="IsPrivate">Private?</label>
                    <InputCheckbox id="IsPrivate" class="form-control" @bind-Value="forumView.IsPrivate" />
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Create Forum</button>
                </div>
            </EditForm>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Must be a valid user to create a forum</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    ForumView forumView = new ForumView();
    Forum forum = new Forum();
    string userName = "none";

    [Parameter]
    public int ForumParentID { get; set; }

    private List<AspNetUser> userList;
    protected override async Task OnInitializedAsync()
    {
        userList = await _udata.GetUsers();
    }

    private async void HandleValidSubmit()
    {
        //gets the current user's UserName
        AuthenticationState authenticationState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        System.Security.Claims.ClaimsPrincipal claimsPrincipal = authenticationState.User;
        System.Security.Principal.IIdentity identity = claimsPrincipal.Identity;
        userName = identity.Name;

        forum.Title = forumView.Title;
        forum.Description = forumView.Description;
        forum.IsPrivate = forumView.IsPrivate;

        forum.ForumId = ForumParentID;
        var parentUrlList = await _fdata.GetForumURL(ForumParentID);
        string parentUrl = parentUrlList.FirstOrDefault();
        forum.Url = $"{parentUrl}/{forumView.Title.Replace(" ", "-").ToLower()}";

        //saves the Id associated with the UserName in the forum object under UserId
        foreach (var user in userList)
        {
            if (userName == user.UserName)
                forum.UserId = user.Id;
        }

        try
        {
            _context.Forums.Add(forum);
            await _context.SaveChangesAsync();
        }
        catch
        {
            base.StateHasChanged();
        }

        //q is home page btw
        if (parentUrl == "q")
            _nav.NavigateTo("/");
        else
            _nav.NavigateTo(parentUrl);
    }
}