@page "/profile"
@using BlazorInputFile
@using System.IO;
@inject AuthenticationStateProvider _auth;
@inject IJSRuntime _js;
<h3>Profile picture upload</h3>


@*<img id="demo" src="Photos\khalid4747.png" />*@

<div class="card-body">
    <div id="main-cropper"></div>
<<<<<<< HEAD
    <BlazorInputFile.InputFile OnChange="GetFile" class="form-control" accept="image/png,image/jpeg" />
=======
    <InputFile OnChange="GetFile" class="form-control" accept="image/png,image/jpeg" />
>>>>>>> ac2cbfe123f6056e71d4e058b30a452dea7e57ce
    @if (file != null)
    {
        <span>Loaded @((100.0 * file.Data.Position / file.Size).ToString("0"))%</span>
    }

    @if (!string.IsNullOrEmpty(imageDataUri))
    {
        <img class="my-image" style="max-width:600px; max-height:600px;" src="@imageDataUri" />
    }
</div>


@code {

    const string DefaultStatus = "Drop a file here or click choose a file";
    const int MaxFileSizeMB= 10; // 10MB
    const int MaxFileSize = MaxFileSizeMB * 1024 * 1024; //To bytes

    string status = DefaultStatus;
    private IFileListEntry file;
    string imageDataUri;

    private string username;

    protected override async Task OnInitializedAsync()
    {
        var authstate = await _auth.GetAuthenticationStateAsync();
        username = authstate.User.Identity.Name;
    }

    async Task GetFile(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file != null)
        {
            file.OnDataRead += (sender, eventArgs) => InvokeAsync(StateHasChanged);
            var imageFile = await file.ToImageFileAsync(file.Type, 800, 600);

            var ms = new MemoryStream();
            await imageFile.Data.CopyToAsync(ms);

            imageDataUri = $"data:{file.Type};base64,{Convert.ToBase64String(ms.ToArray())}";

            //If a profile pic already exists, delete it
            string searchTerm = $"{username}*";
            var img = Directory.GetFiles("Photos", searchTerm);
            if (img.Length > 0)
            {
                File.Delete(img[0]);
            }

            var path = Path.Combine("Photos", username + "." + file.Type.Split('/')[1]);

            using (var stream = new FileStream(path, FileMode.Create))
            {
                await file.Data.CopyToAsync(stream);
            }

            status = DefaultStatus;
        }

    }
}