@page "/replycreation/{ThreadID:int}"


@using QuorumDB.Models
@inject Quorum.Data.ApplicationDbContext _context
@inject QuorumDB.IUserData _userData
@inject AuthenticationStateProvider _AuthenticationStateProvider

<h3>ReplyCreator</h3>

<AuthorizeView>
    <Authorized Context="Auth">
        <div class="reply-form">
            <EditForm Model=@reply OnValidSubmit=@HandleValidSubmit>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="ReplyText">Thread Title:</label>
                    <InputText id="ReplyText" class="form-control" @bind-Value="reply.Text" />
                </div>

                <button class="btn btn-primary" type="submit">Create Reply</button>
            </EditForm>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Must be a valid user to create a reply</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    ForumReply reply = new ForumReply();
    string userName = "none";

    [Parameter]
    public int ThreadID { get; set; }

    private List<AspNetUser> userList;
    protected override async Task OnInitializedAsync()
    {
        userList = await _userData.GetUsers();
    }


    private async void HandleValidSubmit()
    {

        //gets the current user's UserName
        AuthenticationState authenticationState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        System.Security.Claims.ClaimsPrincipal claimsPrincipal = authenticationState.User;
        System.Security.Principal.IIdentity identity = claimsPrincipal.Identity;
        userName = identity.Name;

        reply.ThreadId = ThreadID;

        //saves the Id associated with the UserName in the forum object under UserId
        foreach (var user in userList)
        {
            if (userName == user.UserName)
                reply.UserId = user.Id;
        }

        try
        {
            _context.ForumReplies.Add(reply);
            await _context.SaveChangesAsync();
        }
        catch
        {
            base.StateHasChanged();
        }
        reply = new ForumReply();
        base.StateHasChanged();
    }
}