@page "/squorum/{query}"

@using QuorumDB.Models
@inject AuthenticationStateProvider _auth
@inject Quorum.Data.ApplicationDbContext _context
@inject IForumData _fdata
@inject ISearchResults _sresults


<h3>Quorum Search Results</h3>

<div class="panel panel-default">
    <div class="row">
        <div class="column">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sub-Quorums</th>
                    </tr>
                </thead>
                <tbody>
                    @if (forumList is null)
                    {
                        <tr>
                            <td>Loading data...</td>
                        </tr>
                    }
                    else
                    {

                        @if (forumList.Count == 0)
                        {
                            <tr>
                                <td>No Quorums Found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var forum in forumList)
                            {
                                <tr>
                                    <td><a href="@forum.Url">@forum.Title</a></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string query { get; set; }

    public List<Forum> forumList = new List<Forum>();

    protected override async Task OnInitializedAsync()
    {
        forumList = await _sresults.GetSearchResultsByQuorum(query);
    }
}
