/* css for index page */

textarea {
    border: 1px dashed #888;
    border-radius: 5px;
    width: 80%;
    overflow: auto;
    background: #f7f7f7
}

/* improved CSS for speech bubbles */

.received, .sent {
    position: relative;
    font-family: arial;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

    .received:after, .sent:after {
        content: '';
        border: 20px solid transparent;
        position: absolute;
        margin-top: -30px;
    }

.sent {
    background: #03a9f4;
    color: #fff;
    margin-left: 10%;
    top: 50%;
    text-align: right;
}

    .sent ::deep .blockquote {
        border-right: solid 4px #333;
        padding: 0 1em;
        margin: 1em;
        font-size: 1.4rem;
        line-height: 1.6em;
    }

.received {
    background: #4CAF50;
    color: #fff;
    margin-left: 10px;
    margin-right: 10%;
}

    .received ::deep .blockquote {
        border-left: solid 4px #333;
        padding: 0 1em;
        margin: 1em;
        font-size: 1.4rem;
        line-height: 1.6em;
    }

.sent:after {
    border-left-color: #03a9f4;
    border-right: 0;
    right: -20px;
}

.received:after {
    border-right-color: #4CAF50;
    border-left: 0;
    left: -20px;
}

/* div within bubble for name */
.user {
    font-size: 0.9em;
    font-weight: bold;
    color: #272727;
}

.timestamp {
    font-size: 0.9em;
    font-weight: normal;
    color: #4e4e4e;
}

/* Deep signifies that both children and parent must have the same css id*/
::deep .msg > *, ::deep p {
    margin: 0px;
}

::deep p {
    font-size: 1.3rem;
}