@page "/test";
@using Quorum.Services; 
@inject TrackingCircuitHandler _tracker;
<h3>Test</h3>
<p>currently connected users: @onlineUsers</p>

@code { 
    int onlineUsers;
    protected override Task OnInitializedAsync()
    {
        onlineUsers = _tracker.ConnectedCircuits;
        return base.OnInitializedAsync();
    }
}
