@page "/threadcreation/{ForumParentID:int}"


@using QuorumDB.Models
@inject Quorum.Data.ApplicationDbContext _context
@inject QuorumDB.IUserData _userData
@inject QuorumDB.IForumData _forumData
@inject AuthenticationStateProvider _AuthenticationStateProvider

<h3>ThreadCreator</h3>

<AuthorizeView>
    <Authorized Context="Auth">
        <div class="thread-form">
            <EditForm Model=@thread OnValidSubmit=@HandleValidSubmit>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="ThreadTitle">Thread Title:</label>
                    <InputText id="ThreadTitle" class="form-control" @bind-Value="thread.Title" />
                </div>

                <div class="form-group">
                    <label for="Description">Description:</label>
                    <InputTextArea id="Description" class="form-control" @bind-Value="thread.Description" />
                </div>

                <button class="btn btn-primary" type="submit">Create Thread</button>
            </EditForm>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Must be a valid user to create a thread</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    ForumThread thread = new ForumThread();
    string userName = "none";

    [Parameter]
    public int ForumParentID { get; set; }

    private List<AspNetUser> userList;
    protected override async Task OnInitializedAsync()
    {
        userList = await _userData.GetUsers();
    }


    private async void HandleValidSubmit()
    {

        //gets the current user's UserName
        AuthenticationState authenticationState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        System.Security.Claims.ClaimsPrincipal claimsPrincipal = authenticationState.User;
        System.Security.Principal.IIdentity identity = claimsPrincipal.Identity;
        userName = identity.Name;

        thread.ForumId = ForumParentID;

        //saves the Id associated with the UserName in the forum object under UserId
        foreach (var user in userList)
        {
            if (userName == user.UserName)
                thread.UserId = user.Id;
        }

        try
        {
            _context.ForumThreads.Add(thread);
            await _context.SaveChangesAsync();
        }
        catch
        {
            base.StateHasChanged();
        }
        thread = new ForumThread();
        base.StateHasChanged();
    }
}