@page "/users"
@attribute [Authorize]

@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Identity
@using QuorumDB.Models;

@inject QuorumDB.IUserData _data
<h1>Users table</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>User Name</th>
            <th>Date Registered</th>
        </tr>        
    </thead>
    <tbody>
        @if (userList is null)
        {
            <tr colspan="3">Loading Data...</tr>
        }
        else
        {
            @foreach (var user in userList)
            {
                <tr>
                    <td>@user.Email</td>
                    <td><a href="/profile/@user.UserName">@user.UserName</a></td>
                    <td>@user.DateRegistered</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private List<AspNetUser> userList;
    protected override async Task OnInitializedAsync()
    {
        userList = await _data.GetUsers();
    }
}