@using QuorumDB.Models
@inject Quorum.Data.ApplicationDbContext _context
@inject QuorumDB.IUserData _data
@inject AuthenticationStateProvider _AuthenticationStateProvider

<AuthorizeView>
    <Authorized Context="Auth">
        <div class="forum-form">
            <EditForm Model=@forum OnValidSubmit=@HandleValidSubmit>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="ForumTitle">Forum Title:</label>
                    <InputText id="ForumTitle" class="form-control" @bind-Value="forum.Title" />
                </div>

                <div class="form-group">
                    <label for="Description">Description:</label>
                    <InputTextArea id="Description" class="form-control" @bind-Value="forum.Description" />
                </div>

                <div class="form-group">
                    <label for="IsPrivate">Private?</label>
                    <InputCheckbox id="IsPrivate" class="form-control" @bind-Value="forum.IsPrivate" />
                </div>

        <div class="form-group">
            <label for="IsPrivate">Private?</label>
            <InputCheckbox id="IsPrivate" class="form-control" @bind-Value="forum.IsPrivate" />
                <button class="btn btn-primary" type="submit">Create Forum</button>
            </EditForm>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Must be a valid user to create a forum</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    Forum forum = new Forum();
    string userName = "none";

    private List<AspNetUser> userList;
    protected override async Task OnInitializedAsync()
    {
        userList = await _data.GetUsers();
    }


    private async void HandleValidSubmit()
    {

        //gets the current user's UserName
        AuthenticationState authenticationState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        System.Security.Claims.ClaimsPrincipal claimsPrincipal = authenticationState.User;
        System.Security.Principal.IIdentity identity = claimsPrincipal.Identity;
        userName = identity.Name;

        //saves the Id associated with the UserName in the forum object under UserId
        foreach(var user in userList)
        {
            if (userName == user.UserName)
                forum.UserId = user.Id;
        }

        try
        {
            _context.Forums.Add(forum);
            await _context.SaveChangesAsync();
        }
        catch
        {
            base.StateHasChanged();
        }
        forum = new Forum();
        base.StateHasChanged();
    }
}