@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Quorum</a>
        <div class="login-display">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
    </nav>
    <div class="content px-4">
        @Body
    </div>
</div>
