@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand d-none d-sm-block" href="/">Quorum</a>
        <a class="navbar-brand d-block d-sm-none" href="/">Q</a>
        <div class="login-display align-items-center">
            <LoginDisplay />
        </div>
    </nav>
    <div class="content px-4">
        @Body
    </div>
    <footer>
        <hr />
        <div class="text-muted">
            ©2020 Quorum
        </div>
    </footer>
</div>
