@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Identity
@using QuorumDB.Models;
@inject QuorumDB.IForumData _data

<div class="panel panel-default">
    <div class="row">
        <div class="column">
            <div class="leftside">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Quorums</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (forums is null)
                        {
                            <tr>
                                <td >Loading data...</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var forum in forums)
                            {
                                <tr>
    
                                    <td><a href="@forum.Url">@forum.Title</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Pages2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="counter">Counter</a></td>
                        </tr>
                        <tr>
                            <td><a href="FetchData">Fetch Data</a></td>
                        </tr>
                        <tr>
                            <td><a href="Users">Users</a></td>
                        </tr>
                        <tr>
                            <td><a href="forumcreationpage">Forum Creation</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column">
            <table class="table">
                <thead>
                    <tr>
                        <th>Pages1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="counter">Counter</a></td>
                    </tr>
                    <tr>
                        <td><a href="FetchData">Fetch Data</a></td>
                    </tr>
                    <tr>
                        <td><a href="Users">Users</a></td>
                    </tr>
                    <tr>
                        <td><a href="forumcreation/@currentID">Forum Creation</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    int currentID;
    //Root has empty url
    string url = "q";
    private List<Forum> forums;
    protected override async Task OnInitializedAsync()
    {
        forums = await _data.GetQuorumHomePage();
        var idList = await _data.GetCurrentForumID(url);
        currentID = idList.FirstOrDefault();
    }
}