@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Identity
@using QuorumDB.Models;
@inject QuorumDB.IForumData _data;

<div class="panel panel-default">
    <div class="row">
        <div class="column">
            <div class="leftside">
                <h1>sub-forum table should be here</h1>
                <h1>threads table should be here</h1>
            </div>
        </div>
        <div class="column">
            <div class="rightside">
                <h1>forum details should be here</h1>
            </div>
        </div>
    </div>
</div>

@functions{ 
}
